<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse px-5" id="navbarNavDropdown">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="#" class="nav-link">Noticias</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">El club</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Historia</a>
                    <a class="dropdown-item" href="#">Escudo</a>
                    <a class="dropdown-item" href="#">Camiseta</a>
                    <a class="dropdown-item" href="#">Himno</a>
                    <a class="dropdown-item" href="#">Titulos</a>
                    <a class="dropdown-item" href="#">Celebridades</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Futbol</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Plantel</a>
                    <a class="dropdown-item" href="#">Torneos</a>
                </div>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">Por el mundo</a></li>
        </ul>
    </div>
    <div class="px-5">
        <a class="navbar-brand" href="#">
            <img src="{% static 'club/facebook.png' %}" width="30" height="30" alt="/deportivotachito">
        </a>
        <a class="navbar-brand" href="#">
            <img src="{% static 'club/twitter.png' %}" width="30" height="30" alt="/deportivotachito">
        </a>
        <a class="navbar-brand" href="#">
            <img src="{% static 'club/instagram.png' %}" width="30" height="30" alt="/deportivotachito">
        </a>
    </div>
</nav>

<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
    <footer>
        <p>
            &copy; 2019 | Icons made by <a href="https://www.freepik.com/?__hstc=57440181.1b33d76e87d0b452e4eea3a69b74b71a.1557169119198.1557169119198.1557169119198.1&__hssc=57440181.2.1557169119198&__hsfp=1266176640" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </p>
        
    </footer>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>