<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'club/site.css' %}"/>
</head>

<body>
<div class="navbar">
    <a href="{% url 'main' %}" class="navbar-brand">Tachito</a>
    <a href="{% url 'equipo' %}" class="navbar-item">Equipo</a>
    <a href="{% url 'torneos' %}" class="navbar-item">Torneos</a>
    <a href="{% url 'log' %}" class="navbar-item">Tu mensaje</a>
</div>

<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
    <footer>
        <p>&copy; 2018</p>
    </footer>
</div>
</body>
</html>